<h2>List of contacts</h2>

<ul>
	<% @contact_array.each do |the_contact|%>
		<li>
			<%=the_contact.name%>

		 	<%=the_contact.address%>
		
		 	<%=the_contact.phone_number%>
				
			 <%= the_contact.email %>
		</li>

	<% end %>
</ul>		