<div class="navbar navbar-fixed-top">
  Great Shows
</div>


<body background="http://www.acdc-bootlegs.com/approvedimages/8922.jpeg">

<ul>
	<% @the_shows.each do |show|%>
		<li>
			<a href="/concerts/<%= show.id %>">
			<%=show.artist%>
			</a>
			
		</li>
	<% end %>
</ul>		

<h1><%= link_to("Add a new show",new_concert_path) %></h1>
<!-- 
<footer>
<a href="https://www.facebook.com/" alt"Whatevs"></a>
</footer> -->	