<h1>Here is the amount of words typed:<%=@word_count%> </h1>
<h1>Your typed: <%=@text%></h1>


<h1>How many "the's" did I print out here?: <%=@words%>





<a href="/site/home" alt="Lets do it again!">Lets do it again!!!</a>



